@import "variables";
@import "mixins";

.leftstuff{
  display:flex;
  align-items: center;
  btn {
    float:right;
  }
}

.topNavBar {
  border-bottom: 1px solid #e9e9e9;
  display: flex;
  flex-direction: row;
  padding-left: 50px;
  justify-content:space-around;
  .account {
    margin-top: 25px;
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    list-style-type:none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-basis: 800px;
    justify-content: space-between;
    align-content:center;
    li:nth-child(1){color: $etsyOrange;}
    li:nth-child(2){color: $etsyOrange;}
    li:nth-child(3){color: $etsyOrange;}

  }
  li {
    flex-basis: 100%/4;
    text-align: center;
    margin: 2px;
    padding:8px;
  }
  .logo{
    color: $etsyOrange;
  }
  .searchBar {
    margin-top:35px;
    margin-left: 10px;

    input {
      width: 100%;
      height: 100%;
    }
  }
}
