@import "variables";
@import "mixins";

.leftstuff{
  display:flex;
  align-items: center;
}

.topNavBar {
  border-bottom: 1px solid #e9e9e9;
  display: flex;
  flex-direction: row;
  padding-left: 50px;
  justify-content:space-between;
  .account {
    flex-basis: 250px;
    margin-left: 50%;
    margin-top: 25px;
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: flex-start;
    list-style-type:none;
    padding: 0;
    margin: 0;
    width: inherit;
    display: flex;
    flex-basis: 400px;
    justify-content: space-between;
    align-content:center;
  }
  li {
    flex-basis: 100%/4;
    text-align: center;
    margin: 2px;
  }

  .logo{
    color: $etsyOrange;
  }
  .searchBar {
    margin-top:35px;
    margin-left: 10px;
    width: 740px;

    input {
      width: 100%;
      height: 100%;
    }
  }
}
